@import url("https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Chiron Hei HK", sans-serif;
}
ul {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
.wrap {
  display: flex;
}
.list {
  display: flex;
  margin-top: 10px;
}
aside {
  width: 12%;
  height: 1000px;
  font-size: 14px;
  border-right: 2px solid rgb(128, 198, 255);
  overflow: hidden;
}
aside h3 {
  width: 100%;
  height: 70px;
  background: url(/icons/logo2.png) center;
  background-size: 140px;
  background-repeat: no-repeat;
}
aside p {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  margin-left: 14px;
  margin-top: 10px;
}
aside span {
  margin-left: 10px;
  font-weight: bolder;
}

aside .pro {
  width: 100%;
  margin-top: 30px;
}
.pro li {
  width: 100%;
  line-height: 40px;
  display: flex;
  align-items: center;
  padding-left: 14px;
}
.pro li:hover {
  background-color: white;
  font-weight: bold;
}
.pro li a {
  padding-left: 10px;
}
aside .site {
  width: 100%;
  margin-top: 30px;
}
.site div {
  display: flex;
  align-items: center;
  line-height: 40px;
}
.site li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 14px;
  overflow: hidden;
  transition: all 0.4s;
}
.site li a:first-child {
  display: flex;
  align-items: center;
}
.site li a {
  padding-left: 10px;
  display: block;
}
.site li:hover {
  height: 450px;
}
.site div a:hover {
  font-weight: bold;
}
.site div a:hover div {
  background-color: white;
}

main {
  width: 88%;
  height: 1000px;
  background-color: whitesmoke;
  font-size: 14px;
}
main .search {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 24px;
  position: relative;
}
.search #search {
  width: 95%;
  height: 44px;
  background-color: white;
  border: 2px solid gainsboro;
  border-radius: 20px;
}
.search #submit {
  width: 90px;
  height: 30px;
  border-radius: 8px;
  position: absolute;
  right: 190px;
  top: 20px;
  background-color: rgb(9, 136, 255);
  border: none;
  color: white;
  font-size: 14px;
}
.search #cancel {
  width: 90px;
  height: 30px;
  border-radius: 8px;
  position: absolute;
  right: 90px;
  top: 20px;
  background-color: whitesmoke;
  border: none;
  color: rgb(9, 136, 255);
  font-size: 14px;
}

main .list1 {
  width: 78%;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
}
.list1 .bar1 {
  width: 100px;
  height: 4px;
  border-radius: 34px;
  background-color: gainsboro;
  margin-left: 14px;
  margin-bottom: 10px;
  position: relative;
}
.bar1::before {
  content: "";
  width: 50px;
  height: 4px;
  border-radius: 34px;
  background-color: rgb(9, 136, 255);
  position: absolute;
  top: 0;
  left: 0;
}
.list1 .bar2 {
  width: 100px;
  height: 4px;
  border-radius: 34px;
  background-color: gainsboro;
  margin-left: 14px;
  margin-bottom: 10px;
  position: relative;
}
.bar2::before {
  content: "";
  width: 10px;
  height: 4px;
  border-radius: 34px;
  background-color: rgb(9, 136, 255);
  position: absolute;
  top: 0;
  left: 0;
}
.list1 .bar3 {
  width: 100px;
  height: 4px;
  border-radius: 34px;
  background-color: gainsboro;
  margin-left: 14px;
  margin-bottom: 10px;
  position: relative;
}
.bar3::before {
  content: "";
  width: 20px;
  height: 4px;
  border-radius: 34px;
  background-color: rgb(9, 136, 255);
  position: absolute;
  top: 0;
  left: 0;
}
.list1 .bar4 {
  width: 100px;
  height: 4px;
  border-radius: 34px;
  background-color: gainsboro;
  margin-left: 14px;
  margin-bottom: 10px;
  position: relative;
}
.bar4::before {
  content: "";
  width: 10px;
  height: 4px;
  border-radius: 34px;
  background-color: rgb(9, 136, 255);
  position: absolute;
  top: 0;
  left: 0;
}

.list1 ul {
  width: 22%;
  padding-top: 20px;
  background-color: white;

  border-radius: 8px;
}
.list1 ul h4 {
  padding-bottom: 8px;
  padding-left: 14px;
}
.list1 li input {
  margin-right: 10px;
}
.list1 li {
  font-size: 12px;
  width: 100%;
  line-height: 30px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

main .list2 {
  width: 22%;
  height: 350px;
  border-radius: 8px;
  background-color: rgb(37, 37, 37);
}

.list2 .profile {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  padding-top: 14px;
}
.profile img {
  width: 40px;
  padding-top: 10px;
}

.profile select {
  width: 100px;
  background-color: transparent;
  border: 0;
  color: white;
  text-align: center;
  font-size: 12px;
  padding-left: 12px;
}
.profile p {
  font-size: 10px;
  color: gainsboro;
}

.list2 .pf {
  width: 100%;
  height: 240px;
  display: flex;
  font-size: 12px;
}
.pf ul {
  width: 18%;
  text-align: justify;
  padding: 12px;
  color: gainsboro;
}
.pf li {
  line-height: 26px;
  box-sizing: border-box;
}
.pf #second {
  width: 58%;
}
.pf #third {
  color: rgb(255, 87, 87);
  width: 24%;
}

.list3 {
  width: 100%;
  height: 400px;
  margin-top: 30px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.list4 {
  width: 35%;
  height: 390px;
  background-color: white;
  border: 0;
  border-radius: 8px;
  margin-left: 26px;
}
.list4 table {
  width: 90%;
  height: 300px;
  padding-left: 45px;
}
.list4 table caption {
  text-align: left;
  line-height: 60px;
  padding-left: 20px;
  font-size: 14px;
}
.list4 table tr {
  line-height: 26px;
  font-size: 12px;
  text-align: center;
}
.list4 table th {
  font-weight: normal;
  color: gray;
}
.list4 table tr,
td {
  border-bottom: 1px solid gainsboro;
  border-collapse: collapse;
}
.list4 tr:nth-child(2) {
  background-color: rgba(193, 227, 255, 0.616);
}

.list5 {
  width: 35%;
  height: 400px;
}
.list5 .graph {
  width: 100%;
  height: 390px;
  background-color: white;
  border-radius: 8px;
  border-radius: 8px;
  margin-left: 40px;
  position: relative;
}
.graph p {
  width: 100%;
  height: 40px;
  font-weight: normal;
  margin-left: 20px;
  padding-top: 20px;
}
.graph img {
  width: 410px;
  height: 300px;
  position: absolute;
  left: 45px;
  bottom: 40px;
}
.list6 {
  width: 30%;
  height: 400px;
}
