* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(230, 230, 230);
}
ul {
  list-style: none;
}
.wrap {
  display: flex;
}
.wrap aside {
  width: 280px;
  height: 1000px;
  background-color: lightgray;
  font-size: 14px;
}
aside ul {
  padding-top: 10px;
}
aside li {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
}
aside p {
  width: 70px;
  text-align: center;
}
aside input {
  width: 150px;
  height: 30px;
}
aside button {
  width: 220px;
  height: 34px;
}
.wrap main {
  width: calc(100% - 280px);
  height: 1000px;
}
main header {
  width: 500px;
  height: 60px;
  display: flex;
  justify-items: center;
}
header #search1 {
  width: 300px;
  height: 32px;
  margin-left: 18px;
  margin-top: 10px;
  border: 0;
  border-radius: 12px;
}
header #search2 {
  width: 54px;
  height: 32px;
  margin-top: 10px;
  margin-left: 10px;
  border: 0;
  border-radius: 4px;
  color: white;
  background-color: palevioletred;
}
main section {
  width: 100%;
  height: 940px;
}
section .nav {
  width: 100%;
  display: flex;
}
section .nav li {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  background-color: palevioletred;
  color: white;
}
section .nav li:nth-child(1) {
  width: 10%;
}
section .nav li:nth-child(2) {
  width: 10%;
}
section .nav li:nth-child(3) {
  width: 15%;
}
section .nav li:nth-child(4) {
  width: 15%;
}
section .nav li:nth-child(5) {
  width: 15%;
}
section .nav li:nth-child(6) {
  width: 20%;
}
section .nav li:nth-child(7) {
  width: 15%;
}
section .list {
  width: 100%;
}
.list ul {
  width: 100%;
}
.list li {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: small;
  background-color: white;
}
.list li p {
  /* width: 14.2%; */
  height: 40px;
  align-content: center;
  text-align: center;
}
.list li p:nth-child(1) {
  width: 10%;
}
.list li p:nth-child(2) {
  width: 10%;
}
.list li p:nth-child(3) {
  width: 15%;
}
.list li p:nth-child(4) {
  width: 15%;
}
.list li p:nth-child(5) {
  width: 15%;
}
.list li p:nth-child(6) {
  width: 20%;
}
.list li p:nth-child(7) {
  width: 15%;
}
